DATABASE_URL="postgresql://usuario:password@localhost:5432/gestor_comunidades"
NEXT_PUBLIC_SUPABASE_URL="https://wytejpxqujzazgyfdobt.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_xxxxxxxxxxxxxxxxx"
